#chatroom-main-form {
    flex-direction: column;
    display: flex;
    justify-content: center;
}

#chatroom-container {
    width: 100%;
}

#chatroom-left-panel {
    padding: 10px 10px;
    border: 5px solid red;
}

#chatroom-right-panel {
    padding: 10px 10px;
    border: 5px solid blue;
}

.is-active {
    background-color: red;
}

.mat-list-item.active{
    color: red;
  }