<div id="chatroom-container" class="row">
    <div id="chatroom-left-panel" class="col-3">
        <div class="row">
            <div class="col-12">
                <mat-button-toggle-group id="chatroom-upper-button-toggle" #group="matButtonToggleGroup" value="chatroomList">
                    <mat-button-toggle #cbtb1 id="chatroom-button-toggle-button" value="chatroomList" aria-label="Text align left" (click)="upperButtonToggleHandler(cbtb1.value)">
                      <mat-icon>groups</mat-icon>
                    </mat-button-toggle>
                    <mat-button-toggle #cbtb2 id="chatroom-button-toggle-button" value="usersList" aria-label="Text align right" (click)="upperButtonToggleHandler(cbtb2.value)">
                      <mat-icon>person</mat-icon>
                    </mat-button-toggle>
                </mat-button-toggle-group>
                <div [ngSwitch]="selectedUpperButtonToggle">
                    <app-chatroom-list (selectedChatroomEmitter)="updateChatroom($event)" *ngSwitchCase="'chatroomList'"></app-chatroom-list>
                    <div *ngSwitchCase="'usersList'"></div>
                </div>
                <div>{{ selectedUpperButtonToggle }}</div>
            </div>
        </div>
    </div>
    <div id="chatroom-right-panel" class="col-9">
        <router-outlet></router-outlet>
    </div>
</div>
