<div id="login-container">
  <div class="mb-2">
    <mat-button-toggle-group id="login-button-toggle-group">
      <mat-button-toggle class="login-button-toggle" checked="true" value="true" (click)="setIsLogin(true)">Login</mat-button-toggle>
      <mat-button-toggle class="login-button-toggle" value="false" (click)="setIsLogin(false)">Register</mat-button-toggle>
    </mat-button-toggle-group> 
  </div> 
  <form id="login-main-form" [formGroup]="loginFormGroup" (ngSubmit)="submit()">
    <mat-form-field class="login-main-form-field mb-2" appearance="outline" hideRequiredMarker="true">
      <mat-label>Email</mat-label>
      <input matInput placeholder="Email" formControlName="email">
      <mat-icon matSuffix>email</mat-icon>
      <mat-hint>We will be able to recognise you</mat-hint>
      <mat-error *ngIf="isEmailInvalid()">{{ getFieldErrorMessage("email") }}</mat-error>    
    </mat-form-field>

    <mat-form-field *ngIf="!isLogin" class="login-main-form-field mb-2" appearance="outline" hideRequiredMarker="true">
      <mat-label>Username</mat-label>
      <input matInput placeholder="Username" formControlName="username">
      <mat-icon matSuffix>account_circle</mat-icon>
      <mat-hint>Users will be able to recognise you</mat-hint>
      <mat-error *ngIf="isUsernameInvalid()">{{ getFieldErrorMessage("username") }}</mat-error>    
    </mat-form-field>

    <mat-form-field class="login-main-form-field" appearance="outline" hideRequiredMarker="true">
      <mat-label>Password</mat-label>
      <input matInput placeholder="Password" formControlName="password" [type]="hidePassword ? 'password' : 'text'">
      <button type="button" mat-icon-button matSuffix (click)="hidePassword = !hidePassword">
        <mat-icon>{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button> 
      <mat-error *ngIf="isPasswordInvalid()">{{ getFieldErrorMessage("password") }}</mat-error>   
    </mat-form-field>
    <button id="login-submit-button" type="submit" mat-stroked-button color="primary" [disabled]="!loginFormGroup.valid">Submit</button>
  </form>  
</div>