.login-main-form-field {
    width: 80%;
}

.login-button-toggle {
    width: 100px;
}

#login-container {
    border: dashed red;
    padding: 2% 2% 2% 2%
}

#login-main-form {
    flex-direction: column;
    display: flex;
    justify-content: center;
}

#login-button-toggle-group {
    width: 200px;
}

#login-submit-button {
    width: 12%;
    align-self: flex-end;
    margin: 0 20%;
}